{
  "presets": [
    [
      "env",
      {
        "modules": false
        // "targets": {
        //   "chrome": "60"
        // }
      }
    ]
  ],
  "plugins": [
    "transform-object-assign"
  ]
}